<!-- <form [formGroup]="formLogin" (ngSubmit)="Login()">
    <div>
        <label>Usuario</label>
        <input type="text" formControlName="usuario"/>
    </div>
    <div>   
        <label>Contraseña</label>
        <input type="password" formControlName="clave"/>
    </div>
    <div>
        <button type="submit" [disabled]="!formLogin.valid" class="btn btn-primary">Ingresar</button>
    </div>
</form> -->

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="formLogin" (ngSubmit)="Login()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input formControlName="usuario" type="text" class="login__input" placeholder="Usuario">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input formControlName="clave" type="password" class="login__input" placeholder="Contraseña">
				</div>
				<button class="button login__submit" type="submit" [disabled]="!formLogin.valid" >
					<span class="button__text">Ingresar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>Comité Electoral Universitario</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
